<div id="post-container">
  <h2 id="post-title">{{post.title}}</h2>
  <p id="post-username">{{post.username}}님이 쓴 글</p>
  <p id="post-content">{{post.content}}</p>
  <a href="/">돌아가기</a>
  <a href="javascript:void(0)" onclick="deletePost('{{post.index}}')">삭제하기</a>
  <a href="javascript:void(0)" onclick="updateViewPost('{{post.index}}')">수정하기</a>
</div>

<script>
  async function deletePost(index) {
    if (confirm('정말 삭제하시겠습니까?')) {
      try {
        const res = await fetch(`/posts/${index}`, {
          method: 'DELETE',
          headers: {'Content-Type': 'application/json'}
        })

        const data = await res.json();

        if (res.ok) {
          alert(data.msg);
          window.location.href = '/';
        } else {
          alert(data.msg);
          window.location.href = '/';
        }
      }
      catch (error) {
        console.error(error);
        alert('삭제 중 오류 발생')
      }
    }
  }

  async function updateViewPost(index) {
    const res = await fetch(`/posts/${index}`, {
      method: 'GET'
    })
  }
</script>